
body{
    background-color: #fff;
    padding: 10px;
    display: flex;
    height: 100%;
    color: #000;
    flex-direction: column;
}
.main{background-image: url('https://cdn.jsdelivr.net/gh/moody5/css@main/un.jpg'); /* Set the background image */
background-position: center; /* Centers the image */
background-repeat: no-repeat; /* Prevents repeating */
background-size: contain;
height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content img{
   height: 90px;
   width: auto;
    
}